@font-face { font-family: 'Georgia Bold Italic';
             src: url('./fonts/georgiaz.ttf') format('truetype');
             font-weight: bold;
             font-style: italic; }


#main .category .cell {
  padding: 40px;
  height: 288px;
  background-color: #FFFFFF;

  h3 {
    font-family: "Roboto-ff medium", "Roboto", sans-serif;
    font-size: 21px;
    color: #1A1A1A;
  }

  &.selected {
    background-color: #1A1A1A;

    h3 {
      color: #FFFFFF;
    }
  }

  .tags {
    font-family: 'Georgia Bold Italic', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: get-color(success);
  }
}

#main .mobile-records .cell {
  margin-bottom: 20px;
}

.slider .slide-button {
  position: relative;
  right: 50px;
}

.slider .slide-button.slide-next {
  left: 50px;
}
