#main .category .cell {
  padding: 40px;
  background-color: #1A1A1A;
  height: 288px;

  h3 {
    font-family: "Roboto-ff medium", "Roboto", sans-serif;
    font-size: 21px;
    color: #ffffff;
  }
}

#main .mobile-records .cell {
  margin-bottom: 20px;
}

.slider .slide-button {
  position: relative;
  right: 50px;
}

.slider .slide-button.slide-next {
  left: 50px;
}
