#lanes > div {
  height: 100%;
}

#reportCallout {
  width: 33rem;
  margin: 0 0.7rem;
}

#reportCallout h6 {
  font-weight: bold;
  margin-top: 0.8rem;
}

#reportCallout img {
  margin-bottom: 0.5rem;
}

.searchresult {
  width: 22rem;
}

.searchresult header {
  height: 3.8rem;
  padding: 5px;
  border-radius: 3px;
}

.searchresult header .cardTitle {
  width: 100%;
  max-width: 20rem;
}

.searchresult header .cardTitle input {
  width: 5%;
  vertical-align: top;
  margin: 0.3rem 2px 2px 2px;
  float: left;
}

.searchresult header .cardTitle label {
  font-weight: bold;
  width: 84%;
  float: left;
}

.searchresult header .cardLabel {
  width: 19%;
}

.searchresult header .cardLabel strong {
  font-size: 150%;
}

.searchresult.green header {
  background-color: #35B33D;
}

.searchresult.yellow header {
  background-color: #FCFF4C;
}

.searchresult.red header {
  background-color: #ff6354;
}

.searchresult .resultTags span {
  margin-right: 2px;
  background-color: #e8e8e0;
  color: #c78155;
}

.searchresult .resultTags .moreButton {
  margin: 10px 0 0;
}
