html, body {
  background-image: none;
}

#map {
  width: 100%;
  height: 600px;
  display: none;
}

#lanes, #sidebar {
  float: left;
}

#lanes {
  width: 80%;
}

#sidebar {
  position: relative;
  width: 20%;
}

#lanes > div {
  height: 100%;
}

#lanes section {
  width: 50%;
  margin: 0;
}

#lanes section:first-child {
  margin-right: 6%;
}

.tickerContainer {
  height: 50px;
  position: relative;
  padding: 20px 0;
}

.tickerItem {
  width: 100%;
  position: absolute;
}

.tickerItem .guidanceLink {
  float: right;
  color: black;
}

.searchresult {
  width: 100%;
  display: none;
}

.searchresult.visible {
  display: block;
}

.searchresult.selected {
  background-color: #d7d7d7;
}

.searchresult header {
  height: 2.4rem;
  padding: 5px;
  border-radius: 3px;
}

.searchresult header .cardTitle {
  width: 100%;
  max-width: 20rem;
}

.searchresult header .cardTitle input {
  width: 5%;
  vertical-align: top;
  margin: 0.3rem 2px 2px 2px;
  float: left;
}

.searchresult header .cardTitle label {
  font-weight: bold;
  width: 80%;
  float: left;
  margin: 0 4px;
}

.searchresult header .cardLabel {
  width: 19%;
  /*display: inline-table;*/
  display: none;
}

.searchresult header {
  background-color: #ffffff;
}

/* .fa is for font-awesome icons */
.searchresult header .fa.green {
  color: #35B33D;
}

.searchresult header .fa.white {
  color: #e7e7e7;
}

.searchresult .resultTags {
  margin-bottom: 10px;
}

.searchresult .resultTags span {
  margin-right: 2px;
  background-color: #e8e8e0;
  color: #c78155;
}

.searchresult .dataAndButtons {
  position: relative;
  min-height: 42px;
}

.searchresult .dataAndButtons.extraMetadata {
  height: 76px;
}

.searchresult .searchMetadata, .searchresult .resultButtons {
  position: absolute;
}

.searchresult .searchMetadata {
  left: 0;
  top: 0;
}

.searchresult .resultButtons {
  right: 0;
  bottom: 0;
}

.searchresult .searchMetadata, .searchresult .resultButtons {
  margin: 8px 0 2px 8px;
}

.searchresult ul.distances {
  margin: 15px 0;
}

/* .fa is for font-awesome icons */
.searchresult .distances .fa {
  margin-right: 4px;
}

.searchresult .distances li {
  float: left;
  list-style: none;
  margin-right: 12px;
}

.searchresult .resultButtons button {
  margin: 0 0 0 10px;
}

.searchresult .resultButtons button .fa {
  margin-right: 3px;
}

#sidebar #meter {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  /* margin is controlled by react */
}

#sidebar #filters {
  margin: 20px;
  padding: 0.75rem;
}

#sidebar #filters input, #sidebar #filters label {
  height: 25px;
  vertical-align: middle;
  margin: 2px;
}

#sidebar #filters input {
    margin-top: 4px;
}

#reportCallout {
  display: none;
  width: 33rem;
  margin: 0 0.7rem;
}

#reportCallout h6 {
  font-weight: bold;
  margin-top: 0.8rem;
}

#reportCallout img {
  margin-bottom: 0.5rem;
}
